<div class="page-container" v-cloak>
    <el-card>
        <template #header>
            <div class="breadcrumb">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item>支付配置</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
        </template>
        <div>
            <el-form :model="form" label-width="80px">
                <el-form-item prop="app_id" :rules="[{ required: true, message: '请输入名称', trigger: 'blur' }]"
                              label="app_id">
                    <el-input v-model="form.app_id" placeholder=""></el-input>
                </el-form-item>
                <el-form-item prop="mch_id" :rules="[{ required: true, message: '请输入商户号', trigger: 'blur' }]"
                              label="商户号">
                    <el-input v-model="form.mch_id" placeholder=""></el-input>
                </el-form-item>
                <el-form-item prop="key" :rules="[{ required: true, message: '请输入秘钥', trigger: 'blur' }]"
                              label="秘钥">
                    <el-input v-model="form.key" placeholder=""></el-input>
                </el-form-item>
                <el-form-item prop="cert_path" label="公钥证书">
                    <el-input style="width: 500px" :rows="4" v-model="form.cert_path" type="textarea"
                              placeholder=""></el-input>
                </el-form-item>
                <el-form-item prop="key_path" label="私钥证书">
                    <el-input style="width: 500px" :rows="4" v-model="form.key_path" type="textarea"
                              placeholder=""></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button @click="submitEvent" type="primary">
                        提交
                    </el-button>
                </el-form-item>
            </el-form>
        </div>
    </el-card>

</div>
<script>
    const App = {
        data() {
            return {
                form: {}
            }
        },
        mounted() {
            this.getInfo()
        },
        methods: {
            /**
             * 获取编辑所需信息
             */
            getInfo() {
                this.httpGet("{:url('wechat/wxpay/setting/info')}", {
                    ...this.getUrlQuery()
                }).then(res => {
                    if (res.status) {
                        let {setting = {}} = res.data
                        this.form = {
                            ...setting
                        }
                    }
                })
            },
            /**
             * 提交信息
             */
            submitEvent() {
                this.httpPost("{:url('wechat/wxpay/setting')}", {
                    setting: this.form,
                }).then(res => {
                    if (res.status) {
                        this.$message.success(res.msg)
                    }
                })
            },
        }
    }
</script>

<style>
</style>
